body{
	background-color:#0D1B2A;
	font-family: 'Roboto', sans-serif;
}

.choicesButton{
	font-size:18px;
	padding:10px;
	width:250px;
	margin-left: auto;
	margin-right:auto;
	margin-top:15px;
	background-color: #778DA9;
	border-radius:5px;
	display:block;
	border:2px solid #1B263B;
	color: #0D1B2A;
}
.choicesButton:hover{
	color:#E0E1DD;
	background-color:#0D1B2A;
}

.container {
	width:600px;
	padding:20px;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	background-color:#415A77;
}

.gameButton{
	font-size:18px;
	display:block;
	margin-top:20px;
	margin-left: auto;
	margin-right:auto;
	padding:10px;
	width:250px;
	background-color: #778DA9;
	border:2px solid #1B263B;
	color: #0D1B2A;
	border-radius:5px;
}
.gameButton:hover{
	color:#E0E1DD;
	background-color:#0D1B2A;
}

.header1{
	font-size:36px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color: #E0E1DD;
}

.message{
	text-align:center;
	font-size:18px;
	margin:10px;
	color: #0D1B2A;
}

.puppyImg{
	width: 480px;
	margin-top:20px;
	border-radius:10px;
	border:2px solid #1B263B;
	display:block;
	margin-left: auto;
	margin-right:auto;
}

.timer{
	text-align:center;
	font-size:24px;
	font-weight:bold;
	margin:10px;
	color: #0D1B2A;
}

